/************************************************************
 * ATTENTION REGLAGES DE L'INTERFACE GLOBALE.
 * NE PAS TOUCHER AUX LIGNES CI-DESSOUS
 * TRAVAILLEZ A PARTIR DE LA LIGNE 27 !!
 ************************************************************/
.page{
    width: 900px;
    margin:auto;
}
.entete{
    height: 100px;
}
.colonne_menu{
    float:left;
    width:200px;
    height:100%;
}
.colonne_contenu {
    margin-left:200px;
}
.pieddepage{
    height:50px;
}

/************************************************************
 * SAISISSEZ VOS DECLARATIONS CSS EN-DESSOUS DE CETTE LIGNE
 ************************************************************/
body{
	/* Pour avoir le choix des couleurs https://htmlcolorcodes.com/fr/noms-de-couleur/ */
    background-color: mediumturquoise;
    font-size: 1.5em;
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif; 
    margin: 0;
    padding: 0;
}
.page {
	 
}
.entete{
    background-color: pink;
    margin: 10px;
}
.entete__titre {
    font-size: 1.5em;
    color: blueviolet;
}
.entete__slogan {
    font-size: 1.5em;
    color: yellow;
    font-style: italic;
}
.colonnes {
    background-color: deepskyblue;
}
.colonne_menu{
    background-color: gold;
}
.colonne_contenu {
    background-color: green;
    margin: 10px
}
.pieddepage{
    background-color: gray;
    color: blue;
    text-align: center;
    line-height: 50px;
}
h1 {
    background-color: red;
    margin: 10px;
    margin-bottom: 20px;
    border-bottom: 5px solid purple;
}
h2 {
    color: blue;
    font-size: 1.5em;
    margin: 20px;
    font-variant: small-caps ;
}
strong {
    color: blue;
    font-weight: lighter;
}
em {
    color: red;
}
.introduction {
    font-style: italic;
    border: 5px solid purple;
    margin: 10px;
    border-radius: 20px;
}
a {
    font-weight: bolder;
}
a:hover {
    color: orange;
    text-decoration: none;
}



